body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1,5;
	font: 15px/1,5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

/*Global*/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
ul{
	margin:0;
	padding:0; 
}

.buttom_1{
	height: 38px;
	background: #cccccc;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color: #35424a;
}

.dark{
	padding:15px;
	background: #35424a;
	color: #cccccc;
	margin-top: 10px;
	margin-bottom: 10px;

}
/* Header */
header{
	background:#35424a;
	color:#f4f4f4;
	padding-top: 30px;
	min-height:70px;
	border-bottom:#f4f4f4; 3px solid;
}
header a{
	color:#f4f4f4;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
}



header li{
	float:left;
	displaying:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;

}

header .highlight, header .current a{
	color:#cccccc;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/* Showcase */

#showcase{
	min-height:400px;
	background:url('showcase.jpg') no-repeat 0 -5000px;
	text-algin:center;
	color:#35424a;
}

#showcase h1{
	margin-top:100px;
	font-size:45px;
	margin-bottom:10px;

}

#showcase p{
	font-size:20px;
}

/* nyhetsbrev */
#nyhetsbrev{
	padding:15px;
	color: #cccccc;
	background: #35424a; 

}

#nyhetsbrev h1{
	float:left;
}

#nyhetsbrev form{
	float:right;
	margin-top:15px;
}

#nyhetsbrev input [type="email"]{
	padding:4px;
	height:25px;
	width: 250px;
}

/* Boxes */
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:left;
	text-algin:center;
	width:30%;
	padding:9px;
}

#boxes .box img{
	width:90px;
}
/* Sidebar */

aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

/* Main-col */
article#main-col{
	float:left;
	width:65%;
}

footer{
	padding:20px;
	margin-top: 20px;
	color:#cccccc;
	background-color: #35424a;
	text-algin: center;

}































